doctype html
html
  head
    title
    link(href=fontFamilyPath, rel='stylesheet')
    style(type='text/css').
      /* reset */
      * {
        border: 0;
        box-sizing: content-box;
        color: #262626;
        font-family: inherit;
        font-size: 9px;
        font-style: none;
        font-weight: none;
        line-height: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
        font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      
      header {
        border-bottom: 1px solid #000;
        margin: 15px;
      }
      .text-right {
        text-align: right;
      }
      .text-left {
        text-align: left !important;
      }
      .pull-right {
        float: right;
      }
      .pull-left {
        float: left;
      }
      table {
        width: 100%;
        table-layout: fixed;
        line-height: 20px;
        border-collapse: inherit
      }
      .logo {
        max-width: 80px;
        width: 100%;
      }
      strong {
        font-weight: bold;
      }
      .item {
        table-layout: auto !important;
      }
      .item tbody tr td,
      .item thead tr th {
        text-align: right;
      }
      .mrL2 {
        margin-left: 20px;
      }
      .mrB2 {
        margin-bottom: 20px;
      }
      .mrB1 {
        margin-bottom: 10px;
      }
      .meta {
        padding: 14px 15px;
      }
      .meta h4 {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .product-table {
        background: #f1eae8;
        position: relative;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .item thead tr th {
        padding: 10px 0px;
        border-bottom: 1px solid #666666;
        line-height: 1.2rem;
        font-weight: bold;
      }
      .product-table tbody tr:last-child td {
        padding-bottom: 50px;
      }

      .inwords {
        color: #939393
      }
      .item tfoot tr th,
      .item tbody tr td {
        padding: 3px 0;
      }
      .item tfoot tr:last-child th {
        border-top: 1px solid #666666;
        padding: 7px 0px;
        vertical-align: middle
      }
      .product-table tfoot tr:last-child th {
        border-top: 0;
      }
      .product-table tfoot tr:last-child th:last-child {
        border-top: 1px solid #666;
        border-bottom: 4px double #666;
      }
      .tax-table {
        padding-left: 15px;
        padding-right: 15px;
      }
      .tax-table p {
        color: #595959;
      }
      .tax-table tfoot th {
        font-weight: bold
      }
      .bdrB {
        border-bottom: 1px solid#666;
      }
      .subfooter {
        margin-top: 100px;
        padding: 0 15px;
      }
      .subfooter h1 {
        font-size: 18px;
        margin: 10px 0 0;
        font-weight: 600;
      }
      .subfooter h1 span {
        margin-left: 5px;
      }
      .subfooter .normal {
        font-size: 10px;
        vertical-align: baseline;
        font-weight: normal;
      }
      .vmiddle {
        vertical-align: middle;
      }
      .note {
        margin-top: 20px;
        padding-left: 15px;
      }
      .note li {
        list-style-type: initial;
      }
      footer {
        margin-top: 7px;
        border-top: 2px solid #df4927;
        padding: 10px 0 0;
        line-height: 20px;
      }
      .pos-rel {
        position: relative;
      }
      .primary-clr {
        color: #df4927;
      }
      .pagebreak {
        page-break-before: always;
      }
      .item tr td, .item tr th {
        page-break-inside: avoid;
      }
      .item thead { 
        display: table-header-group;
      }
      .item tfoot {
        display: table-row-group;
      }
      .item thead tr th .fa {
        font-size: 8px !important;
      }
      * {
      font-family: !{fontFamilyName}, sans-serif !important;
      }
  body
    div
      #pageHeader
        header
          table.mrB1
            tbody
              tr
                td.text-left.vmiddle
                  if context.logopath
                    img.logo(src=context.logopath alt='')
                td.text-right
                  figure
                    if context.invoiceDate
                      p #{context.invoiceDate}
                    if context.label.gstin
                      p #{context.label.gstin}: #{context.gstin}
                    if context.label.pan
                      p #{context.label.pan}: #{context.pan}
      table.meta
        tbody
          tr
            td
              if context.customerName
                h4.mrB1 #{context.customerName},
              p
                | This is a system generated 
                strong.primary-clr INVOICE ##{context.invoiceNumber}
                |  due on #{context.dueDate} for 
                strong.primary-clr #{context.companyName}
                |  at #{context.billingAddress[0]},
                |                             #{context.billingAddress[1]} [GSTIN:#{context.gstin}] and the total amount is 
                strong.primary-clr INR #{context.grandTotal}
                | .
      #Template-table.pos-rel
        each a, idx in context.entries
          table.item.product-table(cellspacing='0', cellpadding='0')
            thead
              tr
                if context.label.sNo
                  th.text-left #{context.label.sNo}
                if context.label.item
                  th.text-left #{context.label.item}
                if context.label.hsnSac
                  th #{context.label.hsnSac}
                if context.label.taxes
                  th Tax Rate
                if context.label.quantity
                  th #{context.label.quantity}
                if context.label.rate
                  th #{context.label.rate}
                if context.label.total
                    th #{context.label.total}
            tbody
              each el, index in a
                each trxn, trxnIndx in el.transactions
                  tr
                    if context.label.sNo
                      td.text-left= trxnIndx + 1
                    if context.label.item
                      td.text-left
                        if trxn.stockDetails.name
                          p= trxn.stockDetails.name
                        if trxn.accountName
                          p= trxn.accountName
                        if trxn.description!=trxn.stockDetails.name && trxn.description!=trxn.accountName
                          p= trxn.description
                    else 
                      td.text-left
                    if context.label.hsnSac
                      if context.manageInventory
                        if trxn.hsnNumber
                          td= trxn.hsnNumber
                            small (H)
                        else if trxn.sacNumber
                          td= trxn.sacNumber
                            small (S)
                        else
                          td
                      else
                        td

                      var txTotal = 0
                      var discountTotal = 0
                      var totalTaxRate = 0
                      var category = "other"
                    
                    if context.label.taxes
                      each taxWithTotal in context.gstTaxesTotal
                        var foundTax = 0
                        var tempTax = 0
                        var taxRate = 0
                        each tax in context.taxes
                          if taxWithTotal.uniqueName == tax.accountUniqueName
                            foundTax = 1
                            tempTax = tax.amount
                            taxRate = tax.rate
                            txTotal = txTotal + tempTax
                        if foundTax == 1 && trxn.category != category
                          totalTaxRate = totalTaxRate + taxRate
                      td
                        p totalTaxRate

                    if context.label.quantity
                      td
                        if trxn.quantity
                          #{trxn.quantity} #{trxn.stockUnit}

                    if context.label.rate
                      td
                        if trxn.rate
                          #{trxn.rate}

                    if context.label.total
                      if trxn.category != category
                        script
                          | txTotal=trxn.amount + txTotal - discountTotal
                          td= txTotal
                      else 
                        trxn.amount
            tfoot
              if context.label.taxableAmount
                tr
                  th(colspan='3')
                  th.text-left #{context.label.taxableAmount}
                  th.text-right #{taxableAmount}

              if context.label.discount
                tr
                  th(colspan='5')
                  th.text-left Discount
                  th.text-right discount.amount
              if context.label.taxes
                each taxmap in context.mapOfTaxes
                  tr
                    th(colspan='5')
                    th.text-left #{taxmap.name}
                    th.text-right #{taxmap.total}
              if context.paidAmount > 0
                tr
                  th(colspan='5')
                  th.text-left Paid
                  th.text-right #{context.paidAmount}
                tr
                  th(colspan='5')
                  th.text-left Due Amount
                  th.text-right #{context.balance}

              if context.label.total
                tr
                  if context.label.totalInWords
                    th(colspan='5')= context.totalInWords
                  else 
                    th
                    th.text-left
                      strong= context.label.total
                    th.text-right
                      strong= context.gstEntriesTotal

              if context.label.hsnSac
                hsnserial = 0
                taxableTotal = 0
                totalAmount = 0
                footercolumn = 2
                distTotal = 0

          table.tax-table.item(cellspacing='0', cellpadding='0')
            each el, index in a
              each trxn, trxnIndx in el.transactions
                if trxn.hsnNumber || trxn.sacNumber
                  thead
                    tr
                      if context.label.hsnSac
                        th.text-left ${context.label.hsnSac}
                      if context.label.taxableValue
                        th= context.label.taxableValue

                      each tax, trxnIndx in context.gstTaxesTotal
                        th
                          span #{tax.name} Rate
                        th Amt.
                  tbody
                    tr
                      if context.label.hsnSac
                        if trxn.hsnNumber
                          td.text-left
                            #{trxn.hsnNumber}
                            small (H)
                        else if trxn.sacNumber
                          td.text-left
                            #{trxn.sacNumber}
                            small (S)
                        else 
                          td

                      each discount in el.Discounts
                        if trxn.category != $category
                            var discountAmount = discount.amount * -1
                            var distTotal = distTotal + discount.amount

                        if context.label.taxableValue
                          if trxn.category != category
                            var trWithDist = trxn.amount - distTotal
                            taxableTotal = taxableTotal + trWithDist
                              td.text-right= trWithDist
                          else
                            td
                      
                      each taxWithTotal in context.gstTaxesTotal
                        var foundTax = 0
                        var tempTax = 0
                        var taxRate = 0
                        each tax in entry.taxes
                          if taxWithTotal.uniqueName == tax.accountUniqueName
                            foundTax = 1
                            tempTax = tax.amount
                            taxRate = tax.rate
                            txTotal = txTotal + tempTax

                            if foundTax == 1 && trxn.category != category
                              footercolumn = footercolumn + 2
                                td.text-right
                                  p= taxRate
                                td= tempTax
                            else
                              td.text-right 0.00
                              td.text-right 0.00

                  tfoot
                    tr
                      th(colspan='1')
                      th.text-right
                        | Total 
                        span(style='margin-left:20px;') #{taxableTotal}

                      if context.sumOfTaxes.length > 0
                        each sum in context.sumOfTaxes
                          th.text-right
                          th.text-right= sum
                      else
                        each tax in context.gstTaxesTotal
                          th.text-right
                          th.text-right

      #Template-footer
        table.subfooter
          tbody
            if context.name
              tr
                td
                  p Name: ${context.name}
            if context.virtualBankAcc
              tr
                td
                  p A/C No: ${context.virtualBankAcc}

            if context.ifscCode
              tr
                td
                  p Ifsc: ${context.ifscCode}

            tr
              td(colspan='2', style='vertical-align: bottom;')
                h1.primary-clr
                  | THANK YOU
                  span.normal FOR YOUR BUSINESS.
              td(style='text-align: center;vertical-align: bottom;')
                p.bdrB
                p
                  strong
                    if context.slogan
                      context.slogan
                p (Signature)
            tr
              td(colspan='3')
                ul.note
                  if context.message2
                    li= context.message2
    #pageFooter
      footer(style='text-align: center;')
        p
          strong
            if context.companyName
              #{context.companyName}
        p
          if context.companyAddress
            #{context.companyAddress}
