html#default
  head
    title
    link(href=fontFamilyPath, rel='stylesheet')
    //- link(href=mediumFont, rel='stylesheet')
    //- link(href=boldFont, rel='stylesheet')


    style(type='text/css').
      /* reset */
      html {
        display : block;
      }
      * {
        border: 0;
        box-sizing: content-box;
        color: #262626;
        font-size: 9px;
        font-style: none;
        font-weight: none;
        line-height: inherit;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
      }
      body {
        box-sizing: border-box;
        margin: 0 auto;
        width: 100%;
        padding: 10px;
      }
      header {
        margin: 0;
        padding: 10px 10px 0;
      }
      header figure {
        float: left;
        font-style: normal;
      }
      header h2 {
        color: #df4927;
        font-size: 14px;
        display: block;
        margin-bottom: 6px;
      }
      .numDetail span {
        width: 50px;
        float: left;
      }
      table {
        table-layout: fixed;
        width: 100%;
        border-collapse: inherit;
        font-size: 93%;
        margin: 0;
      }
      .docTitle {
        width: 100%;
        text-align: center;
        height: 15px;
        float: left;
        position: relative;
      }
      .meta {
        padding: 0 10px;
        position: relative;
        margin-bottom: 5px;
        float: left;
      }
      .meta tbody tr td {
        padding: 2px 0;
        line-height: 14px;
      }
      .meta tbody tr td, .meta tbody tr th {
          border: 0;
      }
      article {
        margin-bottom: 10px;
      }
      table.item {
        clear: both;
        width: 100%;
        table-layout: auto;
      }

      .item th,
      tfoot tr th {
        background: #f2f2f2;
        border: 0;
      }

      .pull-right tr td {
        text-align: right !important;
      }
      
      .meta tbody tr th {
        background: none;
        border: 0;
        padding: 0;
        text-align: left;
        color: #262626;
      }
      
      /*.meta tbody tr td:nth-child(2)>table tbody tr td{background: #f2f2f2;padding: 0 10px;line-height: 2rem;margin: 4px 0; display: -webkit-box;}*/
      header figure {
        float: left;
        font-style: normal;
        line-height: 1.25;
        margin: 0 0 0.3em 0;
      }
      header figure p {
        margin: 0 0 0.25em;
      }

      .logo img {
        display: block;
        max-width: 70px;
        height: auto;
        margin-bottom: 6px;
      }
      
      header table tr td {
        border: 0;
        padding: 2px 0;
      }
      /* article */

      article address {
        float: left;
        font-weight: bold;
      }
      .text-right {
        text-align: right;
      }
      /* table items */

      table.item th,
      table.item tfoot tr th {
        position: relative;
        padding: 10px 7px;
        line-height: 1.2rem;
      }
      table.item tfoot tr th {
        padding-right: 7px;
      }
      table.item tr th,
      table.item tfoot tr th {
        font-weight: bold;
      }
      table.item tfoot tr th {
        border-top: 1px solid rgba(89, 89, 89, 0.6);
      }
      table.item td {
        border-radius: 0;
        padding: 7px;
        border-top: 1px solid rgba(89, 89, 89, 0.6);
        line-height: 1.2rem;
      }
      table.item td p {
        color: #595959;
      }
      /* table balance */
      table.balance {
        width: 100%;
        float: right;
        margin: 0px 7px 40px;
      }
      table.balance th,
      table.balance td {
        width: 50%;
        text-align: right;
        padding: 2px;
      }
      /* aside */
      aside h1 {
        border: none;
        border-width: 0 0 1px;
        margin: 0 0 1em;
      }
      aside h1 {
        border-color: #999;
        border-bottom-style: solid;
      }
      /*footer*/
      footer {
        border-top: 1px solid #df4927;
        padding: 15px 0;
        margin: 8px 0 0;
        background: #fff;
        float: left;
        color: red;
        width: 100%;
        overflow: auto;
      }
      footer h2 {
        font-size: 11px;
        margin-bottom: 4px;
      }
      
      aside {
        line-height: 1.5rem;
      }
      .subfooter {
        padding: 0 10px;
      }
      .subfooter hr {
        width: 100%;
        border-bottom: 1px solid #000;
        margin: 3px 0;
      }
      .subfooter h4 {
        font-size: 14px;
        color: #df4927;
        margin: 10px 0 0
      }
      .docTitle h2 {
        text-align: center;
        position: absolute;
        right: 0;
        left: 0;
        width: 100%;
        top: 0;
      }
      /* .docTitle h2:before {
      content: " ";
      position: absolute;
      top: 50%;
      height: 20px;
      width: 100%;
      right: 0;
      left: 0;
      background: #df4927;
      height: 2px;
      margin: 0 auto;
      } */
      .docTitle h2:after {
        content: attr(title);
        width: auto;
        position: relative;
        background: #fff;
        margin: 0 auto;
        padding: 0px 8px;
        right: 0;
        vertical-align: middle;
        z-index: 0;
        left: 0;
        top: -13px;
      }
      p {
        margin: 0;
      }
      table.item th .bgClr {
        position: absolute;
        top: 0;
        bottom: 0;
        background: aqua;
        left: 0;
        right: 0;
        width: 100%;
        opacity: 0.05;
        z-index: 0;
      }
      .docTitle hr {
        position: absolute;
        height: 1px;
        top: 0px;
        width: 100%;
      }
      strong {
        font-weight: bold;
      }
      /* common template css  */
      * {
      font-family: 'Roboto', sans-serif !important;
      }
      .fa {
        font: normal normal normal 14px/1 FontAwesome !important;
      }
      .pagebreak {
        page-break-before: always;
      }
      .item tr td, .item tr th {
        page-break-inside: avoid;
      }
      .item thead { 
        display: table-header-group;
      }
      .item tfoot {
        display: table-row-group;
      }
      .item thead tr th .fa {
        font-size: 8px !important;
      }
      [data-title="item"] {
        width: calc(100% - 85%) !important;        
      }
      [data-title="sno"] {
        width: 25px;
      }
      [data-title="date"] {
        width: 50px;
      }
      .text-left {
        text-align:left;
      }
      .sticky {
        position: absolute;
        left:0;
        right:0;
        bottom: 0;
      }
      @page {
        margin: #{topMargin} #{rightMargin} #{bottomMargin} #{leftMargin};
      }
      #pageHeader {
        background: #f2f2f2;
      }
      .col-xs-6 {
        width: 50%;
        float: left;
      }
      /* table { 
        page-break-inside:avoid;
        page-break-after:auto;
        position: relative;
      } 
      table.item tr td, table.item tr th {
        page-break-inside: avoid;
      }*/
  //- class="disabled-area"
  //- #pageHeader Default header
  body
    div
      #pageHeader
        header
          div.logo
            img.pull-left(src='data:image/png;base64,' + context.logopath)
          div.col-xs-6.pull-left
            strong
              h2 #{context.companyName}
          div.col-xs-6.text-right(style="float: right;")
            h2 #{context.label.formNameTaxInvoice}
          table(cellspacing='0' cellpadding='0')
            tbody
              tr
                td
                  table.numDetail
                    tbody
                      tr
                        td
                          span #{context.label.gstin}
                          |  #{context.gstin}
                      tr
                        td
                          if context.label.pan
                            span #{context.label.pan}
                            |  #{context.pan}
                td(colspan='2')
                td.pull-right
                  table
                    tbody
                      tr
                        td
                          span #{context.label.invoiceDate}
                        td #{context.invoiceDate}
                      tr
                        td
                          span #{context.label.invoiceNumber}
                        td #{context.invoiceNumber}
      table.meta.cargoDetail(cellspacing='0' cellpadding='0')
        tbody
          tr
            td
              if context.label.billingAddress
                p
                  strong #{context.label.billingAddress}
                p #{context.billingAddress[0]}
                p #{context.billingAddress[1]}
                p #{context.billingAddress[2]}
                p #{context.billingAddress[3]}
                p #{context.billingAddress[4]}
            td
              if context.label.shippingAddress
                p
                  strong #{context.label.shippingAddress}
                p #{context.shippingAddress[0]}
                p #{context.shippingAddress[1]}
                p #{context.shippingAddress[2]}
                p #{context.shippingAddress[3]}
                p #{context.shippingAddress[4]}
            td
              table
                tbody
                  if context.label.shippingDate
                    tr
                      td
                        label #{context.label.shippingDate} #{context.shippingDate}
                  if context.label.shippedVia
                    tr
                      td
                        label #{context.label.shippedVia} #{context.shippedVia}
                  if context.label.trackingNumber
                    tr
                      td
                        label #{context.label.trackingNumber} #{context.trackingNumber}
                  if context.label.customField1
                    tr
                      td
                        label #{context.label.customField1} #{context.customField1}
                  if context.label.customField2
                    tr
                      td
                        label #{context.label.customField2} #{context.customField2}
                  if context.label.customField3
                    tr
                      td
                        label #{context.label.customField3} #{context.customField3}
          tr
            td
              if context.label.billingGstin
                p
                  strong #{context.label.billingGstin}
                p #{context.billingGstin}
            td
              if context.label.shippingGstin
                p
                  strong #{context.label.shippingGstin}
                p #{context.shippingGstin}
          tr
            td
              if context.customerName || context.customerEmail || context.customerMobile
                p
                  strong #{context.customerName}
                p #{context.customerEmail}
                p #{context.customerMobile}
            td
              if context.showDueDate
                p
                  strong #{context.label.dueDate}
                p #{context.dueDate}
      table.meta
        tbody
          tr
            td
              if context.label.shippingDate
                strong #{context.label.shippingDate}
                p #{context.shippingDate}
            td
              strong #{context.label.shippedVia}
              p #{context.shippedVia}
            td
              strong #{context.label.trackingNumber}
              p #{context.trackingNumber}
            td
              strong #{context.label.customField1}
              p #{context.customField1}
            td
              strong #{context.label.customField2}
              p #{context.customField2}
            td
              strong #{context.label.customField3}
              p #{context.customField3}
      div(style='display: none;') 
        img.pull-left(src='http://www.walkover.in/img/walkover-logo.png' alt='')
      #Template-table
        article
          table.item(cellpadding='0' cellspacing='0')
            thead
              tr
                if context.label.sNo
                  th.text-left(data-title='sno') #{context.label.sNo}
                if context.label.date
                  th.text-left(data-title='date') #{context.label.date}
                if context.label.item
                  th.text-left(data-title='item') #{context.label.item}
                if context.label.hsnSac
                  th.text-right(data-title='hsnsac') #{context.label.hsnSac}
                if context.label.quantity
                  th.text-right(data-title='quantity') #{context.label.quantity}
                if context.label.rate
                  th.text-right(data-title='rate') #{context.label.rate}
                if context.label.discount
                  th.text-right(data-title='discount') #{context.label.discount}
                if context.label.taxableValue
                  th.text-right(data-title='taxableValue') #{context.label.taxableValue}
                if context.gstTaxesTotal && context.gstTaxesTotal.length
                  each tax, trxnIndx in context.gstTaxesTotal
                    th(data-title='tax') #{tax.name}
                if context.label.total
                  th.text-right(data-title='total') #{context.label.total}
            tbody
              each a, idx in context.entries
                each trxn in a.transactions
                  tr
                    if context.label.sNo
                      td.text-left= idx + 1
                    if context.label.date
                      td.text-left= a.entryDate
                    if context.label.item
                      td.text-left= trxn.accountName
                    if context.label.hsnSac
                      if trxn.hsnNumber
                        td.text-right= trxn.hsnNumber
                          small (H)
                      else if trxn.sacNumber
                        td.text-right= trxn.sacNumber
                          small (S)
                      else
                        td.text-right -
                    if context.label.quantity
                      if trxn.quantity
                        td.text-right= trxn.quantity
                      else
                        td.text-right -
                    if context.label.rate
                      if rate
                        td.text-right= trxn.rate
                      else
                        td.text-right  -
                    if context.label.discount
                      if a.discountTotal
                        td.text-right= a.discountTotal
                      else
                        td.text-right -
                    if context.label.taxableValue
                      if trxn.taxableValue
                        td.text-right= trxn.taxableValue
                      else
                        td.text-right -
                    each gstTax, trxnIndx in context.gstTaxesTotal
                      - var taxIdx = null
                        - taxIdx = a.taxes.findIndex(function(o){
                          - return o.accountName == gstTax.name
                        - });
                      if taxIdx > -1
                        td
                          p.text-right #{a.taxes[taxIdx].amount}
                          p.text-right @#{a.taxes[taxIdx].rate}%
                      else
                        td.text-right -

                        
                      //- if a.taxes && a.taxes.length
                      //-   each tax in a.taxes                    
                      //-     if gstTax.name == tax.accountName
                      //-       if tax.rate
                      //-         td= tax.amount
                      //-           p
                      //-             span @ 
                      //-             span=tax.rate
                      //-             span %
                      //-       else
                      //-         td -
                      //- else
                      //-   td= trxnIndx
                    if context.label.total
                      td.text-right= trxn.amount
            tfoot
              if context.label.sNo
                th.text-right(style='white-space: normal !important;')
              if context.label.date
                th.text-right(style='white-space: normal !important;')
              if context.label.item
                th.text-left(style='white-space: normal !important;')
              if context.label.hsnSac
                th.text-right(style='white-space: normal !important;')
              if context.label.quantity
                th.text-right(style='white-space: normal !important;')
              if context.label.rate
                th.text-right(style='white-space: normal !important;')
              if context.label.discount
                th.text-right(style='white-space: normal !important;')
              if context.label.taxableValue
                th.text-right
              if context.gstTaxesTotal && context.gstTaxesTotal.length
                each tax, trxnIndx in context.gstTaxesTotal
                  th.text-right #{tax.total}
              if context.label.total
                th #{context.total}
          //- if idx != context.entries.length-1
          //-   div.pagebreak
      #Template-footer
        aside
          table.balance
            if context.label.taxableAmount
              tr
                th
                  strong #{context.label.taxableAmount}
                td
                  strong #{context.taxableAmount}
            if context.label.totalTax
              tr
                th
                  strong #{context.label.totalTax}
                td
                  strong #{context.totalTax}
            //- each val in context.commonDiscountEntries
            //-   tr
            //-     th
            //-       strong #{val.AccountName}
            //-     td
            //-       span &#x20B9; #{val.Amount}
            if context.roundOff
              tr
                th
                  strong Round Off
                td
                  strong #{context.roundOff}
            if context.label.grandTotal
              tr
                th
                  strong #{context.label.grandTotal}
                td
                  strong #{context.grandTotal}
            if context.paidAmount > 0
              tr
                th
                  strong Paid
                td
                  strong #{context.paidAmount}
              tr
                th
                  strong Due Amount
                td
                  strong #{context.balance}
            if context.totalInWords
            tr
              th
                strong #{context.label.totalInWords}
              td 
                strong #{context.totalInWords}
      if page == pages
        table.subfooter(cellpadding='0' cellspacing='0', style='visibility: hidden')
          tbody
            tr
              td(colspan='2')
                section
                  strong
                    h2 Notes
                  if context.message1
                    p= context.message1
              td(style='text-align: center;vertical-align: bottom;')
                hr
                strong
                  h3 #{context.slogan}
                strong
                  small (Signature)
            tr
              td
                strong
                  h4 #{context.thanks}
        table.subfooter.sticky(cellpadding='0' cellspacing='0')
          tbody
            tr
              td(colspan='2')
                section
                  strong
                    h2 Notes
                  if context.message1
                    p= context.message1
              td(style='text-align: center;vertical-align: bottom;')
                hr
                strong
                  h3 #{context.slogan}
                strong
                  small (Signature)
            tr
              td
                strong
                  h4 #{context.thanks}
      #pageFooter
        footer(style='text-align: center;')
          if pages != '1'
            p(style='float: left;') {{page}} / {{pages}}
          if context.companyName
            h2 #{context.companyName}
          if context.companyAddress
            p #{context.companyAddress}
