doctype html
html#template2(lang='en')
  head
    link(href=fontFamilyPath, rel='stylesheet')
    //- font-family: 'Open Sans', sans-serif;
    style(type='text/css').
      /* reset */
      * {
        border: 0;
        box-sizing: content-box;
        color: #262626;
        font-family: inherit;
        font-size: 9px;
        font-style: none;
        font-weight: none;
        line-height: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
        font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      /* heading */
      header {
        padding-top: 30px;
      }
      header h1 {
        color: #df4927;
        margin-bottom: 10px;
        font-size: 20px;
      }

      .text-right {
        text-align: right;
      }
      .text-left {
        text-align: left !important;
      }
      .pull-right {
        float: right;
      }
      .pull-left {
        float: left;
      }
      table {
        width: 100%;
        table-layout: fixed;
        /* line-height: 20px; */
        border-collapse: inherit
      }
      strong {
        font-weight: bold;
      }
      .item {
        padding: 0 20px;
        table-layout: auto !important;
      }
      .item tbody tr td,
      .item thead tr th {
        text-align: right;
      }
      .mrL2 {
        margin-left: 20px;
      }
      .mrB2 {
        margin-bottom: 20px;
      }
      .mrB1 {
        margin-bottom: 10px;
      }
      .cargo-Detail {
        margin-top: 10px;
      }
      .product-table {
        background: #fdf6f4;
        position: relative;
      }
      .item thead tr th {
        padding: 10px 0px;
        border-bottom: 1px solid #666666;
        font-weight: bold;
      }
      .product-table tbody tr:last-child td {
        padding-bottom: 50px;
      }
      .inwords {
        color: #939393
      }
      .item tfoot tr th,
      .item tbody tr td {
        padding: 3px 0;
        font-weight: normal;
      }
      .item tfoot tr:last-child th {
      border-top: 1px solid #666666;
      padding: 8px 0px;
      }
      .bdrB {
      border-bottom: 1px solid#666;
      }
      .subfooter {
      margin-top: 60px;
      padding: 0 10px;
      }
      .subfooter h1 {
      font-size: 18px;
      color: #df4927;
      margin: 10px 0 0;
      font-weight:  600;
      }
      .subfooter h4 {
      font-size: 10px;
      color: #df4927;
      font-weight:  600;
      }
      .vmiddle {
      vertical-align: middle;
      }
      .total-amount {
      font-size: 26px;
      background: url(amt.png);
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      background-size: 80%;
      }
      .note {
      margin-top: 20px;
      padding-left: 15px;
      }
      .note li {
      list-style-type: initial;
      }
      footer {
      margin-top: 7px;
      border-top: 1px solid #df4927;
      padding: 10px 0 0;
      }
      .arrow-down {
        width: 0;
        position: absolute;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #fff;
        z-index: 9;
        margin-left: 90px;
        top: -5px;
      }

      .pos-rel {
      position: relative;
      }
      .pdRL3 {
      padding-right: 20px !important;
      padding-left: 20px !important;
      }


      .pagebreak {
        page-break-before: always;
      }
      .item tr td, .item tr th {
        page-break-inside: avoid;
      }
      .item thead { 
        display: table-header-group;
      }
      .item tfoot {
        display: table-row-group;
      }
      .item thead tr th .fa {
        font-size: 8px !important;
      }
      img {
        max-width: 110px;
      }
      .total-amount h2 {
        font-size: 20px;
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBB%0D%0AZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9u%0D%0AOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1s%0D%0AbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53%0D%0AMy5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzMuMSA0%0D%0AMC41IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMzMuMSA0MC41OyIgeG1sOnNw%0D%0AYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7b3BhY2l0eTow%0D%0ALjU7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7fQ0KPC9zdHlsZT4NCjxwYXRo%0D%0AIGlkPSJYTUxJRF85Nl8iIGNsYXNzPSJzdDAiIGQ9Ik0zNy40LDM1LjNjMS41LDAuMywzLDAuNiw0%0D%0ALjYsMC43YzEuNSwwLjEsMi44LDAuNiw0LjMsMC44YzEuOSwwLjMsMy44LDAuNSw1LjcsMC43DQoJ%0D%0AYzEzLjcsMS40LDI3LjgsMS44LDQxLjUsMGMxMS4xLTEuNSwyMS45LTQuNiwzMC41LTkuNWMyLjMt%0D%0AMS4zLDQuNS0yLjcsNS45LTQuNWMxLjQtMS44LDEuOS0zLjksMC44LTUuOGMtMC44LTEuNS0yLjYt%0D%0AMi42LTQuNC0zLjYNCgljLTQuNS0yLjMtOS45LTMuOC0xNS4zLTVjLTI3LjctNi01OC41LTUuMy04%0D%0ANS41LDEuOGM4LjQtMy40LDE4LTUuMiwyNy44LTZzMTkuNi0wLjYsMjkuNC0wLjFjMTQuMiwwLjcs%0D%0AMjguOSwyLjEsNDEsNy4yDQoJYzUsMi4xLDkuOCw1LjMsOS40LDkuMmMtMC4zLDIuMy0yLjMsNC4z%0D%0ALTQuNyw2Yy03LDUuMS0xNi43LDguNC0yNi44LDEwLjVjLTE5LjQsNC00MC40LDMuNS02MCwwLjFj%0D%0ALTEwLjItMS44LTIwLjgtNC4xLTI5LjQtOC4xDQoJYy0zLjctMS43LTYuNC0zLjctOS4yLTZjLTEu%0D%0AMy0xLjEtMi4zLTIuMi0yLjctMy42Yy0wLjEtMC4zLTAuMi0wLjYtMC4zLTAuOWMwLTAuOCwwLTEu%0D%0ANiwwLTIuNGMwLjItMC40LDAuNS0wLjcsMC42LTEuMQ0KCUMxLDE0LjUsMiwxMy41LDMsMTIuNWMx%0D%0ALjYtMS43LDMuOC0yLjksNi4yLTQuMWM3LjYtMy43LDE2LjgtNS42LDI2LTYuOGM0LjktMC42LDku%0D%0AOS0xLjEsMTQuOS0xLjRDNTIuNywwLjEsNTUuMywwLDU3LjksMA0KCWMxLjMsMCwyLjcsMCw0LDBj%0D%0AMSwwLDIuMy0wLjEsMy4xLDAuMmMtMC41LDAuNC0yLDAuNS0yLjcsMC42Yy0xLjUsMC4yLTMsMC4z%0D%0ALTQuNSwwLjRjLTMuMiwwLjItNi4zLDAuMi05LjUsMC40DQoJYy0wLjgsMC4xLTEuNywwLjEtMi41%0D%0ALDAuMmMtMy4zLDAuMy02LjYsMC42LTkuOSwxYy0yLjksMC40LTUuOCwwLjktOC42LDEuNEMyNi4x%0D%0ALDQuNSwyNSw0LjcsMjQsNC45Yy02LjgsMS41LTE0LDMuNi0xOC42LDcuNA0KCWMtMS42LDEuMy0y%0D%0ALjgsMi44LTMuMiw0LjRjLTAuNiwyLjUsMSw1LjEsMy40LDcuMWMyLjcsMi4zLDYuMywzLjgsOS45%0D%0ALDUuM2MxLjEsMC41LDIuMSwxLDMuMiwxLjVjMC45LDAuMywxLjgsMC41LDIuNywwLjgiLz4NCjxw%0D%0AYXRoIGlkPSJYTUxJRF8xXyIgY2xhc3M9InN0MCIgZD0iTTE2LDYyLjgiLz4NCjxwYXRoIGlkPSJY%0D%0ATUxJRF85M18iIGNsYXNzPSJzdDAiIGQ9Ik0xMC4yLDYwLjUiLz4NCjwvc3ZnPg0K');
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        background-size: auto;
        padding: 20px 30px;
        display: inline-block;
        float: right;
        font-weight: 600;
      }
      .text-center {
        text-align: center;
      }
      * {
        font-family: !{fontFamilyName}, sans-serif !important;
      }
  body
    div
      #pageHeader
        header
          table.mrB1.pdRL3
            tbody
              tr
                td
                  h1 #{context.label.formNameTaxInvoice}
                  figure
                    p
                      if context.label.invoiceNumber
                        span #{context.label.invoiceNumber}: #{context.invoiceNumber}
                      if context.label.invoiceDate
                      span.mrL2 #{context.label.invoiceDate}: #{context.invoiceDate}
                    p
                      if context.label.gstin
                        span #{context.label.gstin}: #{context.gstin}
                      if context.label.pan
                        span.mrL2 #{context.label.pan}: #{context.pan}
                td.text-right.vmiddle
                  .pos-rel
                    img.logo(src=context.logoPath alt='')
      table.meta.pdRL3
        tbody
          tr
            td
              if context.label.billingAddress
                p
                  strong #{context.label.billingAddress}
                p #{context.billingAddress[0]}
                p #{context.billingAddress[1]}
                p #{context.billingAddress[2]}
                p #{context.billingAddress[3]}
                p #{context.billingAddress[4]}

              if context.label.billingGstin
                p
                  strong #{context.label.billingGstin}: #{context.billingGstin}
            td(colspan='2')
            td.text-right.vmiddle.total-amount
              h2.amt.text-center #{context.total}/-
      table.cargo-Detail.pdRL3
        tr
          td
            span
              if context.customerName
                strong Attention to:
                span    #{context.customerName}
            span.mrL2
              if context.showDueDate
                strong #{context.label.dueDate}:
                span   #{context.dueDate}
        tr
          td
            span
              if context.label.shippingDate
                strong #{context.label.shippingDate}:
                span   #{context.shippingDate}
            span.mrL2
              if context.label.shippedVia
                strong #{context.label.shippedVia}:
                span  #{context.shippedVia}
            span.mrL2
              if context.label.trackingNumber
                strong #{context.label.trackingNumber}:
                span  #{context.trackingNumber}
      br
      br
      #Template-table.pos-rel
        span.arrow-down
        each a, idx in context.entries
          table.item.product-table.pdRL3(cellspacing='0', cellpadding='0')
            thead
              tr
                if context.label.sNo
                  th.text-left #{context.label.sNo}
                if context.label.item
                  th.text-left #{context.label.item}
                if context.label.hsnSac
                  th #{context.label.hsnSac}
                if context.label.taxes
                  th #{context.label.gstTaxesTotal}
                if context.label.quantity
                  th #{context.label.quantity}
                if context.label.rate
                  th #{context.label.rate}
                if context.label.total
                  th #{context.label.total}
            tbody
              each el, index in a
                tr
                  if context.label.sNo
                    td.text-left= index + 1
                  if context.label.item
                    td.text-left= el.transactions[0].accountName
                  if context.label.hsnSac
                    td #{el.transactions[0].hsnNumber ? el.transactions[0].hsnNumber : el.transactions[0].sacNumber}
                  if context.label.taxes
                    td #{el.transactions[0].taxableValue}%
                  if context.label.quantity
                    td #{el.transactions[0].quantity}
                  if context.label.rate
                    td #{el.transactions[0].rate}
                  if context.label.total
                    td #{el.transactions[0].amount}
              tr
                td(colspan='5')
            tfoot
              tr
                th(colspan='3')
                th.text-left Sub Total
                th.text-right 32500.00
              tr
                th(colspan='3')
                th.text-left Discount
                th.text-right 00.00
              tr
                th(colspan='3')
                th.text-left IGST
                th.text-right 5250.00
              tr
                th.text-left.inwords(colspan='3') #{context.totalInWords}
                th.text-left
                  strong Total
                th.text-right
                  strong= context.balance
        table.item.pdRL3(cellspacing='0', cellpadding='0')
          thead
            tr
              th.text-left #{context.label.sNo}
              th.text-left #{context.label.hsnSac}
              th #{context.label.taxableAmount}
              th #{context.label.gstin}
              th #{context.label.amount}
          tbody
            each a, idx in context.entries
              each el, index in a
                tr
                  td.text-left= index + 1
                  td.text-left #{el.transactions[0].hsnNumber ? el.transactions[0].hsnNumber : el.transactions[0].sacNumber}
                  td #{el.transactions[0].taxableValue}
                  td #{el.transactions[0].gstin}
                  td #{el.transactions[0].amount}
          tfoot
            tr
              th.bdrB(colspan='2')
              th.bdrB.text-right(colspan='1')
              th.bdrB.text-right
                strong Total
                strong.mrL2 32500.00
              th.text-right.bdrB
                strong 5250.00
      #Template-footer.pdRL3
        table.subfooter
          tbody
            tr
              td(style='vertical-align: bottom;')
              if context.thanks
                h1 THANK YOU
                h4 FOR YOUR BUSINESS.
              td
              td(style='text-align: center;vertical-align: bottom;')
                p.bdrB
                p
                  strong #{context.companyName}
                if context.slogan
                  p (#{context.slogan})
            tr
              td(colspan='3')
                if context.message2
                  ul.note
                    li #{context.message2}
      #pageFooter
        footer(style='text-align: center;')
          if context.companyName
            p 
              strong #{context.companyName}
          if context.companyAddress
            p 
              strong #{context.companyAddress}
