doctype html
html
  head
    title
    link(href=fontFamilyPath, rel='stylesheet')
    style(type='text/css').
      /* reset */
      * {
        border: 0;
        box-sizing: content-box;
        color: #262626;
        font-family: inherit;
        font-size: 9px;
        font-style: none;
        font-weight: none;
        line-height: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
        font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      
      header {
        border-bottom: 1px solid #000;
        margin: 0 15px;
      }
      header h2 {
        font-size:16px;
      }      
      .text-right {
        text-align: right;
      }
      .text-left {
        text-align: left !important;
      }
      .pull-right {
        float: right;
      }
      .pull-left {
        float: left;
      }
      table {
        width: 100%;
        table-layout: fixed;
        line-height: 20px;
        border-collapse: inherit
      }
      .logo {
        max-width: 80px;
        width: 100%;
      }
      strong {
        font-weight: bold;
      }
      .item {
        table-layout: auto !important;
      }
      .item tbody tr td,
      .item thead tr th {
        text-align: right;
        width: 100px;
      }
      .item tbody tr td:nth-child(1) {
        width: 50px;
      }      
      .mrL2 {
        margin-left: 20px;
      }
      .mrB2 {
        margin-bottom: 20px;
      }
      .mrB1 {
        margin-bottom: 10px;
      }
      .meta {
        padding:0 14px 15px;
      }
      .meta h4 {
        font-weight: bold;
        font-size: 14px;
        margin-bottom: 10px;
      }
      .product-table {
        background: #f1eae8;
        position: relative;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
      }
      .item thead tr th {
        padding: 10px 0px;
        border-bottom: 1px solid #666666;
        line-height: 1.2rem;
        font-weight: bold;
      }
      .product-table tbody tr:last-child td {
        padding-bottom: 50px;
      }

      .inwords {
        color: #939393
      }
      .item tfoot tr th,
      .item tbody tr td {
        padding: 3px 0;
      }
      .item tfoot tr:last-child th {
        border-top: 1px solid #666666;
        padding: 7px 0px;
        vertical-align: middle
      }
      .product-table tfoot tr:last-child th {
        border-top: 0;
      }
      .product-table tfoot tr:last-child th:last-child {
        border-top: 1px solid #666;
        border-bottom: 4px double #666;
      }
      .tax-table {
        padding-left: 15px;
        padding-right: 15px;
      }
      .tax-table p {
        color: #595959;
      }
      .tax-table tfoot th {
        font-weight: bold
      }
      .bdrB {
        border-bottom: 1px solid#666;
      }
      .subfooter {
        margin-top: 100px;
        padding: 0 15px;
      }
      .subfooter h1 {
        font-size: 18px;
        margin: 10px 0 0;
        font-weight: 600;
      }
      .subfooter h1 span {
        margin-left: 5px;
      }
      .subfooter .normal {
        font-size: 10px;
        vertical-align: baseline;
        font-weight: normal;
      }
      .vmiddle {
        vertical-align: middle;
      }
      .note {
        margin-top: 20px;
        padding-left: 15px;
      }
      .note li {
        list-style-type: initial;
      }
      footer {
        margin-top: 7px;
        border-top: 2px solid #df4927;
        padding: 10px 0 0;
        line-height: 20px;
      }
      .pos-rel {
        position: relative;
      }
      .primary-clr {
        color: #df4927;
      }
      .pagebreak {
        page-break-before: always;
      }
      .item tr td, .item tr th {
        page-break-inside: avoid;
      }
      .item thead { 
        display: table-header-group;
      }
      .item tfoot {
        display: table-row-group;
      }
      .item thead tr th .fa {
        font-size: 8px !important;
      }
      * {
      font-family: !{fontFamilyName}, sans-serif !important;
      }
  body
    div
      #pageHeader
        header
          table.mrB1
            tbody
              tr
                td.text-left.vmiddle
                  if context.logopath
                    img.logo(src=context.logopath alt='')
                  else
                    strong
                      h2.primary-clr= context.companyName

                td.text-right
                  figure
                    if context.invoiceDate
                      p #{context.invoiceDate}
                    if context.label.gstin
                      p #{context.label.gstin}: #{context.gstin}
                    if context.label.pan
                      p #{context.label.pan}: #{context.pan}
      table.meta
        tbody
          tr
            td
              if context.customerName
                h4.mrB1 Hello #{context.customerName},
              p
                | This is a system generated 
                strong.primary-clr INVOICE ##{context.invoiceNumber}
                |  due on #{context.dueDate} for 
                strong.primary-clr #{context.companyName}
                |  at #{context.billingAddress[0]},
                |                             #{context.billingAddress[1]} [GSTIN:#{context.gstin}] and the total amount is 
                strong.primary-clr INR #{context.grandTotal}
                | .
      #Template-table.pos-rel
          table.item.product-table(cellspacing='0', cellpadding='0')
            thead
              - var abc = 0;
              tr
                if context.label.sNo
                  - abc++
                  th.text-left(style='width:50px;') #{context.label.sNo}
                if context.label.item
                  - abc++
                  th.text-left(colspan=2) #{context.label.item}
                if context.label.hsnSac
                  - abc++
                  th #{context.label.hsnSac}
                if context.label.taxes
                  - abc++
                  th Tax Rate
                if context.label.quantity
                  - abc++
                  th #{context.label.quantity}
                if context.label.rate
                  - abc++
                  th #{context.label.rate}
                if context.label.total
                  - abc++
                  th #{context.label.total}
            tbody
              each a, idx in context.entries
                - var taxRate = 0;
                each tax in a.taxes
                  - taxRate = taxRate + tax.rate
                each trxn in a.transactions
                  tr
                    if context.label.sNo
                      td.text-left= trxn.srNumber
                    if context.label.item
                      td.text-left(colspan=2)
                        if trxn.itemToShow
                          p= trxn.itemToShow
                        if trxn.accountNameToShow
                            p= trxn.accountNameToShow
                        if trxn.showDescription && trxn.description
                          p= trxn.description
                    if context.label.hsnSac
                      if trxn.hsnNumber
                        td.text-right= trxn.hsnNumber
                          span (H)
                      else if trxn.sacNumber
                        td.text-right= trxn.sacNumber
                          span (S)
                      else
                        td.text-right -
                    if context.label.taxes
                      td= taxRate
                    if context.label.quantity
                      if trxn.quantity
                        td= trxn.quantity + trxn.stockUnit
                      else
                        td
                    if context.label.rate
                      td.text-right= trxn.rate ? trxn.rate : '-'
                    if context.label.total
                      td= trxn.amount
            tfoot
              tr
                th
                th(colspan=abc - 2)
                th.text-right Sub Total
                th.text-right #{subTotal}
              if context.label.discount
                tr
                  th
                  th(colspan=abc - 2)
                  th.text-left Discount
                  th.text-right= context.discount.amount
              each tax, trxnIndx in context.gstTaxesTotal
                tr
                    th
                    th(colspan=abc - 2)
                    th.text-right #{tax.name}
                    th.text-right #{tax.total}
              if context.paidAmount > 0
                tr
                  th
                  th(colspan=abc - 2)
                  th.text-left Paid
                  th.text-right #{context.paidAmount}
                tr
                  th
                  th(colspan=abc - 2)
                  th.text-left Due Amount
                  th.text-right #{context.balance}
              if context.label.total
                tr
                  if context.label.totalInWords
                    th.text-left(colspan=abc)= context.totalInWords
                    th.text-right= context.grandTotal
                  else 
                    th
                    th.text-left
                      strong= context.label.total
                    th.text-right
                      strong= context.gstEntriesTotal
                
          table.tax-table.item(cellspacing='0', cellpadding='0')
                - var taxableAmountTotal = 0
                - cgstTotal = 0
                - igstTotal = 0
                - sgstTotal = 0    
                thead
                  tr
                    if context.label.hsnSac
                      th.text-left #{context.label.hsnSac}
                    else
                      th.text-left HSN/SAC
                    if context.label.taxableValue
                      th= context.label.taxableValue
                    each tax, trxnIndx in context.gstTaxesTotal
                      th
                        span #{tax.name} Rate
                      th Amt.
                tbody                                                  
                  each a, idx in context.entries
                    each trxn in a.transactions
                      - taxableAmountTotal = taxableAmountTotal + trxn.taxableValue                  
                          tr
                            if context.label.hsnSac
                              if trxn.hsnNumber
                                td.text-left= trxn.hsnNumber
                                  span (H)
                              else if trxn.sacNumber
                                td.text-left= trxn.sacNumber
                                  span (S)
                              else
                                td.text-left -
                            else
                                td.text-left -

                            if context.label.taxableValue
                              if trxn.category != category
                                  td.text-right= trxn.taxableValue
                              else
                                td
                            each tax in a.taxes
                              each gstTax, trxnIndx in context.gstTaxesTotal
                                if gstTax.name == tax.accountName
                                  if tax.rate
                                    td= tax.rate
                                      span %
                                    td= tax.amount
                                  else
                                    td -
                                    td -
                tfoot
                  tr
                    th.text-right total
                    th.text-right= taxableAmountTotal
                      each gstTax, trxnIndx in context.gstTaxesTotal
                        th
                        th.text-right= gstTax.total
                                           
      #Template-footer
        table.subfooter
          tbody
            if context.name
              tr
                td
                  p Name: ${context.name}
            if context.virtualBankAcc
              tr
                td
                  p A/C No: ${context.virtualBankAcc}

            if context.ifscCode
              tr
                td
                  p Ifsc: ${context.ifscCode}

            tr
              td(colspan='2', style='vertical-align: bottom;')
                h1.primary-clr
                  | THANK YOU
                  span.normal FOR YOUR BUSINESS.
              td(style='text-align: center;vertical-align: bottom;')
                p.bdrB
                p
                  strong=context.slogan
                p (Signature)
            tr
              td(colspan='3')
                ul.note
                  if context.message2
                    li= context.message2
    if context.companyName || context.companyAddress
      #pageFooter
        footer(style='text-align: center;')
          p
            strong
              if context.companyName
                #{context.companyName}
          p
            if context.companyAddress
              #{context.companyAddress}
