doctype html
html#template2(lang='en')
  head
    link(href=fontFamilyPath, rel='stylesheet')
    //- font-family: 'Open Sans', sans-serif;
    style(type='text/css').
      /* reset */
      * {
        border: 0;
        box-sizing: content-box;
        color: #262626;
        font-family: inherit;
        font-size: 9px;
        font-style: none;
        font-weight: none;
        line-height: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
        font-family: 'Open Sans', sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      /* heading */
      header {
        padding-top: 30px;
      }
      header h1 {
        color: #df4927;
        margin-bottom: 10px;
        font-size: 20px;
      }

      .text-right {
        text-align: right;
      }
      .text-left {
        text-align: left !important;
      }
      .pull-right {
        float: right;
      }
      .pull-left {
        float: left;
      }
      table {
        width: 100%;
        table-layout: fixed;
        /* line-height: 20px; */
        border-collapse: inherit
      }
      strong {
        font-weight: bold;
      }
      .item {
        padding: 0 20px;
        table-layout: auto !important;
      }
      .item tbody tr td,
      .item thead tr th {
        text-align: right;
      }
      .mrL2 {
        margin-left: 20px;
      }
      .mrB2 {
        margin-bottom: 20px;
      }
      .mrB1 {
        margin-bottom: 10px;
      }
      .cargo-Detail {
        margin-top: 10px;
      }
      .product-table {
        background: #fdf6f4;
        position: relative;
      }
      .item thead tr th {
        padding: 10px 0px;
        border-bottom: 1px solid #666666;
        font-weight: bold;
      }
      .product-table tbody tr:last-child td {
        padding-bottom: 50px;
      }
      .inwords {
        color: #222;
      }
      .item tfoot tr th,
      .item tbody tr td {
        padding: 3px 0;
        font-weight: normal;
      }
      .item tfoot tr:last-child th {
        border-top: 1px solid #666;
        padding: 7px 0px;
        vertical-align: middle;
      }
      .tax-table tr:last-child th {
        border-bottom: 1px solid #666;
      }
      .bdrB {
      border-bottom: 1px solid#666;
      }
      .subfooter {
        margin-top: 100px;
        padding: 0 10px;
      }
      .subfooter hr {
        width: 100%;
        border-bottom: 1px solid #000;
        margin: 3px 0;
      }
      .subfooter h1 {
        font-size: 16px;
        color: #df4927;
        text-transform: uppercase;
      }
      .vmiddle {
      vertical-align: middle;
      }
      .total-amount {
      font-size: 26px;
      background: url(amt.png);
      background-repeat: no-repeat;
      background-position: center;
      text-align: center;
      background-size: 80%;
      }
      .note {
      margin-top: 20px;
      padding-left: 15px;
      }
      .note li {
      list-style-type: initial;
      }
      footer {
      margin-top: 7px;
      border-top: 1px solid #df4927;
      padding: 10px 0 0;
      }
      .arrow-down {
        width: 0;
        position: absolute;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid #fff;
        z-index: 9;
        margin-left: 90px;
        top: -5px;
      }

      .pos-rel {
      position: relative;
      }
      .pdRL3 {
      padding-right: 20px !important;
      padding-left: 20px !important;
      }


      .pagebreak {
        page-break-before: always;
      }
      .item tr td, .item tr th {
        page-break-inside: avoid;
      }
      .item thead { 
        display: table-header-group;
      }
      .item tfoot {
        display: table-row-group;
      }
      .item thead tr th .fa {
        font-size: 8px !important;
      }
      img {
        max-width: 110px;
      }
      .total-amount h2 {
        font-size: 20px;
        background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBB%0D%0AZG9iZSBJbGx1c3RyYXRvciAxOS4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9u%0D%0AOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1s%0D%0AbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53%0D%0AMy5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCAxMzMuMSA0%0D%0AMC41IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMzMuMSA0MC41OyIgeG1sOnNw%0D%0AYWNlPSJwcmVzZXJ2ZSI+DQo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPg0KCS5zdDB7b3BhY2l0eTow%0D%0ALjU7ZmlsbC1ydWxlOmV2ZW5vZGQ7Y2xpcC1ydWxlOmV2ZW5vZGQ7fQ0KPC9zdHlsZT4NCjxwYXRo%0D%0AIGlkPSJYTUxJRF85Nl8iIGNsYXNzPSJzdDAiIGQ9Ik0zNy40LDM1LjNjMS41LDAuMywzLDAuNiw0%0D%0ALjYsMC43YzEuNSwwLjEsMi44LDAuNiw0LjMsMC44YzEuOSwwLjMsMy44LDAuNSw1LjcsMC43DQoJ%0D%0AYzEzLjcsMS40LDI3LjgsMS44LDQxLjUsMGMxMS4xLTEuNSwyMS45LTQuNiwzMC41LTkuNWMyLjMt%0D%0AMS4zLDQuNS0yLjcsNS45LTQuNWMxLjQtMS44LDEuOS0zLjksMC44LTUuOGMtMC44LTEuNS0yLjYt%0D%0AMi42LTQuNC0zLjYNCgljLTQuNS0yLjMtOS45LTMuOC0xNS4zLTVjLTI3LjctNi01OC41LTUuMy04%0D%0ANS41LDEuOGM4LjQtMy40LDE4LTUuMiwyNy44LTZzMTkuNi0wLjYsMjkuNC0wLjFjMTQuMiwwLjcs%0D%0AMjguOSwyLjEsNDEsNy4yDQoJYzUsMi4xLDkuOCw1LjMsOS40LDkuMmMtMC4zLDIuMy0yLjMsNC4z%0D%0ALTQuNyw2Yy03LDUuMS0xNi43LDguNC0yNi44LDEwLjVjLTE5LjQsNC00MC40LDMuNS02MCwwLjFj%0D%0ALTEwLjItMS44LTIwLjgtNC4xLTI5LjQtOC4xDQoJYy0zLjctMS43LTYuNC0zLjctOS4yLTZjLTEu%0D%0AMy0xLjEtMi4zLTIuMi0yLjctMy42Yy0wLjEtMC4zLTAuMi0wLjYtMC4zLTAuOWMwLTAuOCwwLTEu%0D%0ANiwwLTIuNGMwLjItMC40LDAuNS0wLjcsMC42LTEuMQ0KCUMxLDE0LjUsMiwxMy41LDMsMTIuNWMx%0D%0ALjYtMS43LDMuOC0yLjksNi4yLTQuMWM3LjYtMy43LDE2LjgtNS42LDI2LTYuOGM0LjktMC42LDku%0D%0AOS0xLjEsMTQuOS0xLjRDNTIuNywwLjEsNTUuMywwLDU3LjksMA0KCWMxLjMsMCwyLjcsMCw0LDBj%0D%0AMSwwLDIuMy0wLjEsMy4xLDAuMmMtMC41LDAuNC0yLDAuNS0yLjcsMC42Yy0xLjUsMC4yLTMsMC4z%0D%0ALTQuNSwwLjRjLTMuMiwwLjItNi4zLDAuMi05LjUsMC40DQoJYy0wLjgsMC4xLTEuNywwLjEtMi41%0D%0ALDAuMmMtMy4zLDAuMy02LjYsMC42LTkuOSwxYy0yLjksMC40LTUuOCwwLjktOC42LDEuNEMyNi4x%0D%0ALDQuNSwyNSw0LjcsMjQsNC45Yy02LjgsMS41LTE0LDMuNi0xOC42LDcuNA0KCWMtMS42LDEuMy0y%0D%0ALjgsMi44LTMuMiw0LjRjLTAuNiwyLjUsMSw1LjEsMy40LDcuMWMyLjcsMi4zLDYuMywzLjgsOS45%0D%0ALDUuM2MxLjEsMC41LDIuMSwxLDMuMiwxLjVjMC45LDAuMywxLjgsMC41LDIuNywwLjgiLz4NCjxw%0D%0AYXRoIGlkPSJYTUxJRF8xXyIgY2xhc3M9InN0MCIgZD0iTTE2LDYyLjgiLz4NCjxwYXRoIGlkPSJY%0D%0ATUxJRF85M18iIGNsYXNzPSJzdDAiIGQ9Ik0xMC4yLDYwLjUiLz4NCjwvc3ZnPg0K');
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        background-size: auto;
        padding: 20px 30px;
        display: inline-block;
        float: right;
        font-weight: 600;
      }
      .text-center {
        text-align: center;
      }
      * {
        font-family: !{fontFamilyName} !important;
      }
      .tax-table {
        margin-top: 10px;
      }
  body
    div
      #pageHeader
        header
          table.mrB1.pdRL3
            tbody
              tr
                td
                  h1 #{context.label.formNameTaxInvoice}
                  figure
                    p
                      if context.label.invoiceNumber
                        span #{context.label.invoiceNumber}: #{context.invoiceNumber}
                      if context.label.invoiceDate
                      span.mrL2 #{context.label.invoiceDate}: #{context.invoiceDate}
                    p
                      if context.label.gstin
                        span #{context.label.gstin}: #{context.gstin}
                      if context.label.pan
                        span.mrL2 #{context.label.pan}: #{context.pan}
                td.text-right.vmiddle
                  .pos-rel
                    img.logo(src='data:image/png;base64,' + context.logopath)
      table.meta.pdRL3
        tbody
          tr
            td
              if context.label.billingAddress
                p
                  strong #{context.label.billingAddress}
                p #{context.billingAddress[0]}
                p #{context.billingAddress[1]}
                p #{context.billingAddress[2]}
                p #{context.billingAddress[3]}
                p #{context.billingAddress[4]}

              if context.label.billingGstin
                p
                  strong #{context.label.billingGstin}: #{context.billingGstin}
            td(colspan='2')
            td.text-right.vmiddle.total-amount
              h2.amt.text-center #{context.total}/-
      table.cargo-Detail.pdRL3
        tr
          td
            span
              if context.customerName
                strong Attention to:
                span    #{context.customerName}
            span.mrL2
              if context.showDueDate
                strong #{context.label.dueDate}:
                span   #{context.dueDate}
        tr
          td
            span
              if context.label.shippingDate
                strong #{context.label.shippingDate}:
                span   #{context.shippingDate}
            span.mrL2
              if context.label.shippedVia
                strong #{context.label.shippedVia}:
                span  #{context.shippedVia}
            span.mrL2
              if context.label.trackingNumber
                strong #{context.label.trackingNumber}:
                span  #{context.trackingNumber}
      #Template-table.pos-rel
          table.item.product-table(cellspacing='0', cellpadding='0')
            thead
              - var abc = 0;
              tr
                if context.label.sNo
                  - abc++
                  th.text-left(style='width:50px;') #{context.label.sNo}
                if context.label.item
                  - abc++
                  th.text-left(colspan=2) #{context.label.item}
                if context.label.hsnSac
                  - abc++
                  th #{context.label.hsnSac}
                if context.label.taxes
                  - abc++
                  th Tax Rate
                if context.label.quantity
                  - abc++
                  th #{context.label.quantity}
                if context.label.rate
                  - abc++
                  th #{context.label.rate}
                if context.label.total
                  - abc++
                  th #{context.label.total}
            tbody
              each a, idx in context.entries
                - var taxRate = 0;
                each tax in a.taxes
                  - taxRate = taxRate + tax.rate
                each trxn in a.transactions
                  tr
                    if context.label.sNo
                      td.text-left= trxn.srNumber
                    if context.label.item
                      td.text-left(colspan=2)
                        if trxn.itemToShow
                          p= trxn.itemToShow
                        if trxn.accountNameToShow
                            p= trxn.accountNameToShow
                        if trxn.showDescription && trxn.description
                          p= trxn.description
                    if context.label.hsnSac
                      if trxn.hsnNumber
                        td.text-right= trxn.hsnNumber
                          span (H)
                      else if trxn.sacNumber
                        td.text-right= trxn.sacNumber
                          span (S)
                      else
                        td.text-right -
                    if context.label.taxes
                      td= taxRate
                    if context.label.quantity
                      if trxn.quantity
                        td= trxn.quantity + trxn.stockUnit
                      else
                        td
                    if context.label.rate
                      td.text-right= trxn.rate ? trxn.rate : '-'
                    if context.label.total
                      td= trxn.amount
            tfoot
              tr
                th
                th(colspan=abc - 2)
                th.text-left.inwords Sub Total
                th.text-right.inwords #{subTotal}
              if context.label.discount
                tr
                  th
                  th(colspan=abc - 2)
                  th.text-left Discount
                  th.text-right= context.discount.amount
              each tax, trxnIndx in context.gstTaxesTotal
                tr
                    th
                    th(colspan=abc - 2)
                    th.text-left.inwords #{tax.name}
                    th.text-right.inwords #{tax.total}
              if context.paidAmount > 0
                tr
                  th
                  th(colspan=abc - 2)
                  th.text-left.inwords Paid
                  th.text-right.inwords #{context.paidAmount}
                tr
                  th
                  th(colspan=abc - 2)
                  th.text-left.inwords Due Amount
                  th.text-right.inwords #{context.balance}
              if context.label.total
                tr
                  if context.label.totalInWords
                    th.text-left.inwords(colspan=abc-1)= context.totalInWords
                    th.text-left
                      strong Total
                    th.text-right
                      strong #{context.grandTotal}
                  else 
                    th
                    th.text-left
                      strong= context.label.total
                    th.text-right
                      strong= context.gstEntriesTotal
                
          table.tax-table.item(cellspacing='0', cellpadding='0')
                - var taxableAmountTotal = 0
                - cgstTotal = 0
                - igstTotal = 0
                - sgstTotal = 0    
                thead
                  tr
                    if context.label.hsnSac
                      th.text-left #{context.label.hsnSac}
                    else
                      th.text-left HSN/SAC
                    if context.label.taxableValue
                      th= context.label.taxableValue
                    each tax, trxnIndx in context.gstTaxesTotal
                      th
                        span #{tax.name} Rate
                      th Amt.
                tbody                                                  
                  each a, idx in context.entries
                    each trxn in a.transactions
                      - taxableAmountTotal = taxableAmountTotal + trxn.taxableValue                  
                          tr
                            if context.label.hsnSac
                              if trxn.hsnNumber
                                td.text-left= trxn.hsnNumber
                                  span (H)
                              else if trxn.sacNumber
                                td.text-left= trxn.sacNumber
                                  span (S)
                              else
                                td.text-left -
                            else
                                td.text-left -

                            if context.label.taxableValue
                              if trxn.category != category
                                  td.text-right= trxn.taxableValue
                              else
                                td
                            each tax in a.taxes
                              each gstTax, trxnIndx in context.gstTaxesTotal
                                if gstTax.name == tax.accountName
                                  if tax.rate
                                    td= tax.rate
                                      span %
                                    td= tax.amount
                                  else
                                    td -
                                    td -
                tfoot
                  tr
                    th.text-right total
                    th.text-right= taxableAmountTotal
                      each gstTax, trxnIndx in context.gstTaxesTotal
                        th
                        th.text-right= gstTax.total
      #Template-footer.pdRL3
        table.subfooter
          tbody
            if context.name
              tr
                td
                  p Name: ${context.name}
            if context.virtualBankAcc
              tr
                td
                  p A/C No: ${context.virtualBankAcc}

            if context.ifscCode
              tr
                td
                  p Ifsc: ${context.ifscCode}
            if context.thanks
              tr
                td(colspan='2', style='vertical-align: top;')
                  h1.primary-clr #{context.thanks}
                td(style='text-align: center;vertical-align: bottom;')
                  p.bdrB(style='margin-top: 10px;')
                  p
                    strong=context.slogan
                  p (Signature)
            if context.message1            
              tr
                td(colspan='3')
                  ul.note
                      li= context.message1
      #pageFooter
        footer(style='text-align: center;')
          if context.companyName
            p 
              strong #{context.companyName}
          if context.companyAddress
            p #{context.companyAddress}
