doctype html
html
  head
    title
    link(href=fontFamilyPath, rel='stylesheet')
    style(type='text/css').
      /* reset */
      * {
        border: 0;
        box-sizing: content-box;
        color: #262626;
        font-family: inherit;
        font-size: 9px;
        font-style: none;
        font-weight: none;
        line-height: 14px;
        list-style: none;
        margin: 0;
        padding: 0;
        text-decoration: none;
        vertical-align: top;
        -webkit-font-smoothing: antialiased;
      }
      header {
        padding-top: 10px;
      }
      header h1 {
      /* margin-bottom: 10px; */
        font-size: 14px;
        color: #DF4927;
      }
       header p {
      font-size: 10px;
      color: #262626;
      }
      h1.invoice{
        font-size:16px;
        color:#DF4927;
      }
      .invoice-table{
        border-top:1px solid #B3B3B3;
        border-bottom:1px solid #B3B3B3;
        padding:7px 15px;
      }
       header .sub_head {
      font-size: 15px;
      margin-left: 5px;
      }
       .text-right {
      text-align: right;
      }
       .text-left {
      text-align: left !important;
      }
       .pull-right {
      float: right;
      }
       .pull-left {
      float: left;
      }
       table {
        width: 100%;
        table-layout: fixed;
        line-height: 20px;
        border-collapse: inherit
      }
       .logo {
        max-width: 70px;
        width: 100%;
        margin-bottom: 10px;
      }
       strong {
      font-weight: bold;
      }
       .total-amount {
      text-align: center;
      vertical-align: bottom;
      padding-bottom: 10px
      }
       .total-amount h2 {
      font-size: 24px;
      padding: 0 0;
      display: inline-block;
      float: right;
      }
       .address th{
      /* text-align:left; */
      }
       .mrL2 {
      margin-left: 20px;
      }
       .mrB2 {
      margin-bottom: 20px;
      }
       .mrB1 {
      margin-bottom: 10px;
      }
       .meta {
        padding: 0 15px;
        position: relative;
        margin-bottom: 10px;
      }
      .meta tbody tr td {
        padding: 4px 0;
        line-height: 14px;
      }
      .meta tbody tr td, .meta tbody tr th {
          border: 0;
      }
      .meta tbody tr td p {
        padding-right: 7px;
      }
       .meta h4 {
      font-weight: bold;
      font-size: 18px;
      line-height: 19px;
      }
       .product-table {
        background: #df49270d;
        position: relative;
        /* padding-bottom: 10px; */
      }
      .item {
        table-layout: auto !important;
        clear: both;
        width: 100%;
        table-layout: auto;
        padding: 0 5px;
        margin-bottom: 10px
      }
       .item thead tr th{
      padding: 14px 5px;
      border-bottom: 1px solid #666666;
      line-height: 1.2rem;
      font-weight: bold;
      }
       .item th{
      text-align: right;
      padding: 14px 7px;
      line-height: 1.2rem;
      }
       table.item tr th,  table.item tr td{
      padding-right:10px;
      vertical-align: middle;
      }
       table.item tr th:nth-child(2) {
      text-align: left;
      }
       table.item tr th:nth-child(1),   table.item tr td:nth-child(1){
      text-align: center;
      }
       table.item tr th:nth-child(1),  table.item tr th:nth-child(2),  table.item tr th:nth-child(3) {
      vertical-align: middle;
      }

       .item td{
      border-radius: 0;
      padding: 7px;
      /* border-top: 1px solid rgba(89, 89, 89, 0.6); */
      text-align: right;
      line-height: 1.2rem;
      }
       .item thead{
      background: rgba(223, 73, 39,0.05);
      }
       .item thead tr th {
      padding: 14px 5px;
      border-bottom: 1px solid #666666;
      line-height: 1.2rem;
      font-weight: bold;
      }
       .item tfoot tr{
      background: rgba(223, 73, 39,0.05);
      }
       .item tfoot tr th,
       .item tbody tr td {
      padding: 5px 5px;
      }
       .item tbody tr:nth-child(even){
      background:#fff;
      }
       .item tbody tr:nth-child(odd){
      background:#FAFAFA;
      }
       .item tfoot tr:last-child th {
      border-top: 1px solid #666666;
      padding: 14px 0px;
      line-height: 1.2rem;
      vertical-align: middle
      }
      /* table balance */
      table.balance {
        width: 75%;
        float: right;
        margin: 0px 7px 40px;
      }
      table.balance th,
      table.balance td {
        width: 50%;
        text-align: right;
        padding: 2px;
      }
       article{
      margin: 0 0 3em;
      }
       .total-row {
      border-top: 1px solid #000000;
      }
       .tax-table p {
      color: #595959;
      }
       .tax-table tfoot th {
      font-weight: bold
      }
       .bdrB {
      border-bottom: 1px solid#666;
      }

      .subfooter {
        padding: 0 10px;
      }
      .subfooter hr {
        width: 100%;
        border-bottom: 1px solid #000;
        margin: 3px 0;
      }
      .subfooter h4 {
        font-size: 10px;
        color: #df4927;
        margin: 10px 0 0
      }
       .vmiddle {
      vertical-align: middle;
      }
       .note {
      margin-top: 20px;
      padding-left: 15px;
      }
       .note li {
      list-style-type: none;
      font-size:10px;
      }
      #pageFooter {
        margin-top: 7px;
        border-top: 1px solid #DF4927;
        padding: 8px 5px;
        height: 100%;
        vertical-align: middle;
      }
      .pos-rel {
        position: relative;
      }
       .primary-clr {
      color: #df4927;
      }
       .text-center {
      text-align: center
      }
       .mrB {
      margin-bottom: 10px;
      }
       .secondry_clr {
      color: #4b4c4f;
      }

      * {
      font-family: !{fontFamilyName} !important;
      }
      .space-between {
        margin: 0 7px;
      }
      .cName h1 {
        margin-bottom:7px;
      }
      .cargoDetail {
        margin-top: 10px;
      }
      [data-title="item"] {
        width: calc(100% - 85%) !important;        
      }
      [data-title="sno"] {
        width: 25px;
      }
      [data-title="date"] {
        width: 50px;
      }
  body
    div
      #pageHeader
        header
          table
            tbody
              if context.logopath
                tr
                  td.text-center
                      img.logo(src='data:image/png;base64,' + context.logopath)
              tr
                td.text-center.cName
                  h1 #{context.companyName}
                  p 
                    span #{context.label.gstin}: #{context.gstin}
                    span.space-between
                    span #{context.pan}: #{context.pan}
      table.invoice-table(cellspacing='0', cellpadding='0')
        tbody
          tr
            td
              h1.invoice #{context.label.formNameTaxInvoice}
            td.pull-right
              table
                tbody
                  tr
                    td.text-right 
                      span #{context.label.invoiceDate}: #{context.invoiceDate}
                      span.space-between
                      span #{context.label.invoiceNumber}: #{context.invoiceNumber}
      table.meta.cargoDetail(cellspacing='0' cellpadding='0')
        tbody
          tr
            td
              p
                if context.customerName
                  strong #{context.customerName}
              p #{context.customerEmail}
              p #{context.customerMobile}
            td
              if context.label.billingAddress
                p
                  strong #{context.label.billingAddress}
                p #{context.billingAddress[0]}
                p #{context.billingAddress[1]}
                p #{context.billingAddress[2]}
                p #{context.billingAddress[3]}
                p #{context.billingAddress[4]}
            td
              if context.label.shippingAddress
                p
                  strong #{context.label.shippingAddress}
                p #{context.shippingAddress[0]}
                p #{context.shippingAddress[1]}
                p #{context.shippingAddress[2]}
                p #{context.shippingAddress[3]}
                p #{context.shippingAddress[4]}
          tr
            td
              if context.showDueDate
                p
                  strong #{context.label.dueDate}
                p #{context.dueDate}
            td
              if context.label.billingGstin
                p
                  strong #{context.label.billingGstin}
                p #{context.billingGstin}
            td
              if context.label.shippingGstin
                p
                  strong #{context.label.shippingGstin}
                p #{context.shippingGstin}
      if context.label.shippingDate || context.label.shippedVia || context.label.trackingNumber || context.label.customField1 || context.label.customField2 || context.label.customField3
        table.meta
          tbody
            tr
              td
                if context.label.shippingDate
                  strong #{context.label.shippingDate}
                  p #{context.shippingDate}
              td
                strong #{context.label.shippedVia}
                p #{context.shippedVia}
              td
                strong #{context.label.trackingNumber}
                p #{context.trackingNumber}
              td
                strong #{context.label.customField1}
                p #{context.customField1}
              td
                strong #{context.label.customField2}
                p #{context.customField2}
              td
                strong #{context.label.customField3}
                p #{context.customField3}
      #Template-table
        article
          table.item(cellpadding='0' cellspacing='0')
            thead
              tr
                if context.label.sNo
                  th.text-left(data-title='sno') #{context.label.sNo}
                if context.label.date
                  th.text-left(data-title='date') #{context.label.date}
                if context.label.item
                  th.text-left(data-title='item') #{context.label.item}
                if context.label.hsnSac
                  th.text-right(data-title='hsnsac') #{context.label.hsnSac}
                if context.label.quantity
                  th.text-right(data-title='quantity') #{context.label.quantity}
                if context.label.rate
                  th.text-right(data-title='rate') #{context.label.rate}
                if context.label.discount
                  th.text-right(data-title='discount') #{context.label.discount}
                if context.label.taxableValue
                  th.text-right(data-title='taxableValue') #{context.label.taxableValue}
                if context.gstTaxesTotal && context.gstTaxesTotal.length
                  each tax, trxnIndx in context.gstTaxesTotal
                    th(data-title='tax') #{tax.name}
                if context.label.total
                  th.text-right(data-title='total') #{context.label.total}
            tbody
              each a, idx in context.entries
                each trxn in a.transactions
                  tr
                    if context.label.sNo
                      td.text-left= idx + 1
                    if context.label.date
                      td.text-left= a.entryDate
                    if context.label.item
                      td.text-left= trxn.accountName
                    if context.label.hsnSac
                      if trxn.hsnNumber
                        td.text-right= trxn.hsnNumber
                          small (H)
                      else if trxn.sacNumber
                        td.text-right= trxn.sacNumber
                          small (S)
                      else
                        td.text-right -
                    if context.label.quantity
                      if trxn.quantity
                        td.text-right= trxn.quantity
                      else
                        td.text-right -
                    if context.label.rate
                      if rate
                        td.text-right= trxn.rate
                      else
                        td.text-right  -
                    if context.label.discount
                      if a.discountTotal
                        td.text-right= a.discountTotal
                      else
                        td.text-right -
                    if context.label.taxableValue
                      if trxn.taxableValue
                        td.text-right= trxn.taxableValue
                      else
                        td.text-right -
                    each gstTax, trxnIndx in context.gstTaxesTotal
                      - var taxIdx = null
                        - taxIdx = a.taxes.findIndex(function(o){
                          - return o.accountName == gstTax.name
                        - });
                      if taxIdx > -1
                        td
                          p.text-right #{a.taxes[taxIdx].amount}
                          p.text-right @#{a.taxes[taxIdx].rate}%
                      else
                        td.text-right -

                        
                      //- if a.taxes && a.taxes.length
                      //-   each tax in a.taxes                    
                      //-     if gstTax.name == tax.accountName
                      //-       if tax.rate
                      //-         td= tax.amount
                      //-           p
                      //-             span @ 
                      //-             span=tax.rate
                      //-             span %
                      //-       else
                      //-         td -
                      //- else
                      //-   td= trxnIndx
                    if context.label.total
                      td.text-right= trxn.amount
            tfoot
              if context.label.sNo
                th.text-right(style='white-space: normal !important;')
              if context.label.date
                th.text-right(style='white-space: normal !important;')
              if context.label.item
                th.text-left(style='white-space: normal !important;')
              if context.label.hsnSac
                th.text-right(style='white-space: normal !important;')
              if context.label.quantity
                th.text-right(style='white-space: normal !important;')
              if context.label.rate
                th.text-right(style='white-space: normal !important;')
              if context.label.discount
                th.text-right(style='white-space: normal !important;')
              if context.label.taxableValue
                th.text-right
              if context.gstTaxesTotal && context.gstTaxesTotal.length
                each tax, trxnIndx in context.gstTaxesTotal
                  th.text-right #{tax.total}
              if context.label.total
                th #{context.total}
    #Template-footer
        aside
          table.balance
            if context.label.taxableAmount
              tr
                th
                  strong #{context.label.taxableAmount}
                td
                  strong #{context.taxableAmount}
            if context.label.totalTax
              tr
                th
                  strong #{context.label.totalTax}
                td
                  strong #{context.totalTax}
            if context.roundOff
              tr
                th
                  strong Round Off
                td
                  strong #{context.roundOff}
            if context.label.grandTotal
              tr
                th
                  strong #{context.label.grandTotal}
                td
                  strong #{context.grandTotal}
            if context.paidAmount > 0
              tr
                th
                  strong Paid
                td
                  strong #{context.paidAmount}
              tr
                th
                  strong Due Amount
                td
                  strong #{context.balance}
            if context.totalInWords
            tr
              th
                strong #{context.label.totalInWords}
              td 
                strong #{context.totalInWords}
    table.subfooter(cellpadding='0' cellspacing='0')
      tbody
        tr
          if context.message1
            td(colspan='2')
              section
                strong
                  h2 Notes
                p= context.message1
          td(style='text-align: center;vertical-align: bottom;')
            hr
            strong
              h3 #{context.slogan}
            strong
              small (Signature)
        if context.thanks
          tr
            td
              strong
                h4 #{context.thanks}
      #pageFooter      
        footer(style='text-align: center;')
          if context.companyName
            p #{context.companyName}
          if context.companyAddress
            p #{context.companyAddress}
